@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


  /* color  */
  .dark-1{
    color: rgba(19, 19, 19, 1);
  }
  .dark-2{
    color:rgba(66, 66, 66, 1) ;
  }
  .dark-3{
    color:rgba(114, 114, 114, 1) ;
  }
  .white{
    color:rgba(255, 255, 255, 1) ;  
  }
  .orange{
    color:rgba(255, 144, 14, 1) ;

  }
  
  /* shared style */
  .pry-btn{
    background-color:rgba(255, 144, 14, 1) ;
    color:rgba(255, 255, 255, 1) ;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
  }

  
  
  

  /* nav related styles */
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .brand{
    font-size: 2.8rem;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);

  }
  .nav-items{
    display: flex;
    
  gap: 20px;
    
 }


 .item{

    list-style: none;
    
    
 }
 .nav-link{
    text-decoration: none;
    
    font-size: 1.1rem;
    font-weight: normal;
    color:rgba(66, 66, 66, 1) ;

 }
 .bg-secondary{
  background-color:rgba(255, 144, 14, 0.1) ;

 }
 .nav-bar{
  max-width: 1440px;
  margin: 0 auto;
 }


 /* banner related style */
 .banner-title{
   font-size: 4rem;
   font-weight: 700;
   color: rgba(19, 19, 19, 1);
 }
 .sub-title{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(114, 114, 114, 1) ;
 }

 .banner-contant{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;

 }
 .banner-img{
  width: 100%;
 }


/* main section style */
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
  margin-top: 120px;
}
.teams{
  display: flex;
  align-items: center;

}
.team-img-container{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 24px;
}
.our-featurs{
  margin-left: 120px;
  max-width: 530px;
}
.p1{
  font-size: 2.8rem;
  font-weight: 500;
  color:rgba(114, 114, 114, 1) ;
}
.p2{
  font-size: 2.8rem;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);

}
.p3{
  font-size: 2.8rem;
  font-weight: bold;
  color: rgba(255, 144, 14, 1);
}
/* features section style */
.features{
  display: flex;
  gap: 50px;
  
}
.feature-heading{
  width: 460px;
  height: 105px;
  font-size: 2.8rem;
  font-weight: bold;
  color: rgba(19, 19, 19, 1);
  border-left: 5px solid #FF900E;
  padding-left: 20px;

}
.feature-description,.card-description{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(114, 114, 114, 1) ;
  margin: 10px 0px;
}
.feature-container{
  
}
.feature-card{
  width: auto;
  height: 100px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
}
.feature-btn{
  background-color:rgba(255, 144, 14, 1) ;
  color:rgba(255, 255, 255, 1) ;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  
  border: none;
  margin-left: -20px;
  margin-top: -150px;
}

.feature-img{
  width: 100%;
  
}

/* some-facts section style  */
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: ;
}
.card{
  border: 1px solid rgba(255, 144, 14, 1);
  border-radius: 8px;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;
}
.fact-no{
  font-size: 2.8rem;
  font-weight: 600;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  color:rgba(114, 114, 114, 1) ;

}
.description{
  font-size: 1rem;
  font-weight: 400;
  color:rgba(114, 114, 114, 1) ;
}


/* our-sponsors section */
.our-sponsors{

}
.sponsor-description{
  width: auto;
  height: 129px;
  margin: 0 auto;
  text-align: center;
  

}
.sponsor-container{
display: grid;
grid-template-columns: repeat(5,1fr);
margin-top: 50px;
}
.sponsor-icon{
  filter: grayscale(100%);
  

}
footer>div{
  width: auto;
  background-color:#FFF4E7 ;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color:rgba(114, 114, 114, 1) ;
  padding: 20px;
  margin-top: 20px;
}


 /* responsive */
 @media screen and (max-width:576px) {
  .nav-items,.nav-bar,.teams{
    flex-direction: column;
  }
  .team-img-container,.card-container,.sponsor-container{
    grid-template-columns: repeat(1,1fr);
    margin: 2px;
    justify-items: center;
  }
  .sponsor-container,.our-featurs{
    margin: 20px auto;
  }
  .sponsor-container,.card-container{
    gap: 24px;
  }
  .features{
    flex-direction: column;
  }
  .feature-btn{
    display: none;
  }
 
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction:column ;
  }
  .card-container,.sponsor-container{
    grid-template-columns: repeat(3,1fr);
    margin: 20px 5px;
    justify-items: center;
    gap: 15px;

}
.card-container{
  grid-template-columns: repeat(2,1fr);
}
}